/* Styles for changing the moodle header */
.header-maxwidth {
  max-width: none;
  padding-left: 15px;
}

.secondary-navigation .moremenu.navigation.observed ul {
  max-width: none;
}

/* Styles for the code editor */
.CodeMirror {
  border: 1px solid #8f959e;
  border-radius: 8px;
}

#themeSelector,
#fontSizeSelector {
  border: 1px solid #8f959e;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

/* Styles for the full screen in the code editor */
.CodeMirror-fullscreen {
  z-index: 9999;
}

.navbar-fixed-top.fullscreen-hidden,
#page-footer.fullscreen-hidden {
  display: none;
}

/* Styles for navigation buttons */
.btn-primary {
  color: #fff;
  background-color: #0f6cbf;
  border-color: #0f6cbf;
}

.navigation-buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navigation-buttons .mod_quiz-prev-nav {
  margin-left: 127px;
}

.navigation-buttons .mod_quiz-next-nav {
  margin-left: auto;
  margin-right: -233px;
}

/* Styles for tables that are output when executing code */
.sql-query-results {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

.sql-results {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

.sql-results-header {
  background-color: #00569d;
  color: white;
  padding: 12px;
  text-align: left;
}

.sql-results-data {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.sql-results-row:hover {
  background-color: #89c1ec;
}

.sql-results-data:hover {
  background-color: #7bb4e3;
}

.sql-results-row {
  background-color: #bbd2ec;
}

/* Styles for messages when executing code */
.success-message {
  margin-bottom: 10px;
}

.error-message {
  margin-bottom: 10px;
}

/* Styles for the password modal */
.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.275);
}

.modal-content {
  margin: 5% auto;
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
  font-size: 1.25rem;
}

.modal-header .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.modal-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-body p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > * {
  margin: 5px;
}

/* Styles for the Accordion Containers */
.accordion-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.accordion-title {
  background: #f2f2f2;
  color: #333;
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion-title:hover {
  background-color: #e6e6e6;
}

.accordion-title::after {
  content: "\002B";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
  color: #333;
}

.accordion-title.open::after {
  content: "\2212";
  color: #333;
}

.accordion-content {
  display: none;
  padding: 20px;
  border-top: 1px solid #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordion-container img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px 0;
}

/* Styles to remove background from Prism comments */
span.token.comment {
  background: none;
  padding: 0;
}

/* Styles for the expected results table */
.sql-expectedresults-table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

.sql-expectedresults-header {
  background-color: #b4b4b4;
  color: #000000;
  padding: 12px;
  text-align: left;
}

.sql-expectedresults-row:hover .sql-expectedresults-data {
  background-color: #ececec;
}

.sql-expectedresults-row:hover .sql-expectedresults-data:hover {
  background-color: #d8d8d8;
}

.sql-expectedresults-data {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8ee;
}

.sql-expectedresults-row {
  background-color: #f7f9fc;
}

/* Styles for code editor buttons */
.code-editor-actions {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 10px;
}

#executeSqlButton,
#evaluateSqlButton {
  padding: 6px 12px;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Styles for the evaluate button code */
#evaluateSqlButton {
  background-color: #258d19;
  margin-left: 10px;
}

/* Styles for the info button */
#infoButton {
  margin-left: 15px;
  border-radius: 20px;
  background-color: #17a2b8;
  border: none;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding: 5px 10px;
}

#infoText {
  display: none;
  margin-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s;
}

/* Styles for the question navigator */
#question-nav {
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 65px;
}

#question-nav h5 {
  background-color: #e9ecef;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 16px;
  color: #333;
}

.nav-links {
  padding: 10px;
}
